.card-container {
    width: 45%;
    background-color: #2f3953;
    border: 8px solid rgba(237, 239, 245, 0.3);
    margin: 10px auto;
}

.image-container {
    width: 100%;
    height: 270px;
    overflow: hidden;
}